<div id="sudo_gameplate">
   <table cellpadding="0" cellspacing="0" class="sudotable" border="0">
      <tbody>
         <tr>
            <td class="focusable ">
               <div id="sudo_input_0" data-index="0" data-x="0" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(0)" onblur="sudo_field_blur(0)" tabindex="1" onkeydown="onkey(event)">
               </div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_1" data-index="1" data-x="0" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(1)" onblur="sudo_field_blur(1)" tabindex="2" onkeydown="onkey(event)">
               </div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_2" data-index="2" data-x="0" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(2)" onblur="sudo_field_blur(2)" tabindex="3" onkeydown="onkey(event)"
                  style="color: rgb(0, 0, 0);">4</div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_3" data-index="3" data-x="0" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(3)" onblur="sudo_field_blur(3)" tabindex="4" onkeydown="onkey(event)">
               </div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_4" data-index="4" data-x="0" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(4)" onblur="sudo_field_blur(4)" tabindex="5" onkeydown="onkey(event)">
               </div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_5" data-index="5" data-x="0" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(5)" onblur="sudo_field_blur(5)" tabindex="6" onkeydown="onkey(event)">
               </div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_6" data-index="6" data-x="0" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(6)" onblur="sudo_field_blur(6)" tabindex="7" onkeydown="onkey(event)">
               </div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_7" data-index="7" data-x="0" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(7)" onblur="sudo_field_blur(7)" tabindex="8" onkeydown="onkey(event)">
               </div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_8" data-index="8" data-x="0" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(8)" onblur="sudo_field_blur(8)" tabindex="9" onkeydown="onkey(event)">
               </div>
            </td>
         </tr>
         <tr>
            <td class="focusable ">
               <div id="sudo_input_9" data-index="9" data-x="1" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(9)" onblur="sudo_field_blur(9)" tabindex="10" onkeydown="onkey(event)"
                  style="color: rgb(0, 0, 0);">3</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_10" data-index="10" data-x="1" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(10)" onblur="sudo_field_blur(10)" tabindex="11"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">9</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_11" data-index="11" data-x="1" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(11)" onblur="sudo_field_blur(11)" tabindex="12"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_12" data-index="12" data-x="1" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(12)" onblur="sudo_field_blur(12)" tabindex="13"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">8</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_13" data-index="13" data-x="1" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(13)" onblur="sudo_field_blur(13)" tabindex="14"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">6</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_14" data-index="14" data-x="1" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(14)" onblur="sudo_field_blur(14)" tabindex="15"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_15" data-index="15" data-x="1" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(15)" onblur="sudo_field_blur(15)" tabindex="16"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">5</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_16" data-index="16" data-x="1" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(16)" onblur="sudo_field_blur(16)" tabindex="17"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">7</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_17" data-index="17" data-x="1" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(17)" onblur="sudo_field_blur(17)" tabindex="18"
                  onkeydown="onkey(event)"></div>
            </td>
         </tr>
         <tr>
            <td class="focusable ">
               <div id="sudo_input_18" data-index="18" data-x="2" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(18)" onblur="sudo_field_blur(18)" tabindex="19"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_19" data-index="19" data-x="2" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(19)" onblur="sudo_field_blur(19)" tabindex="20"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">6</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_20" data-index="20" data-x="2" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(20)" onblur="sudo_field_blur(20)" tabindex="21"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_21" data-index="21" data-x="2" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(21)" onblur="sudo_field_blur(21)" tabindex="22"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_22" data-index="22" data-x="2" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(22)" onblur="sudo_field_blur(22)" tabindex="23"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_23" data-index="23" data-x="2" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(23)" onblur="sudo_field_blur(23)" tabindex="24"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_24" data-index="24" data-x="2" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(24)" onblur="sudo_field_blur(24)" tabindex="25"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_25" data-index="25" data-x="2" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(25)" onblur="sudo_field_blur(25)" tabindex="26"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">2</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_26" data-index="26" data-x="2" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(26)" onblur="sudo_field_blur(26)" tabindex="27"
                  onkeydown="onkey(event)"></div>
            </td>
         </tr>
         <tr>
            <td class="focusable hsep ">
               <div id="sudo_input_27" data-index="27" data-x="3" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(27)" onblur="sudo_field_blur(27)" tabindex="28"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">7</div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_28" data-index="28" data-x="3" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(28)" onblur="sudo_field_blur(28)" tabindex="29"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">2</div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_29" data-index="29" data-x="3" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(29)" onblur="sudo_field_blur(29)" tabindex="30"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep vsep ">
               <div id="sudo_input_30" data-index="30" data-x="3" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(30)" onblur="sudo_field_blur(30)" tabindex="31"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">3</div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_31" data-index="31" data-x="3" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(31)" onblur="sudo_field_blur(31)" tabindex="32"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_32" data-index="32" data-x="3" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(32)" onblur="sudo_field_blur(32)" tabindex="33"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep vsep ">
               <div id="sudo_input_33" data-index="33" data-x="3" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(33)" onblur="sudo_field_blur(33)" tabindex="34"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_34" data-index="34" data-x="3" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(34)" onblur="sudo_field_blur(34)" tabindex="35"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_35" data-index="35" data-x="3" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(35)" onblur="sudo_field_blur(35)" tabindex="36"
                  onkeydown="onkey(event)"></div>
            </td>
         </tr>
         <tr>
            <td class="focusable ">
               <div id="sudo_input_36" data-index="36" data-x="4" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(36)" onblur="sudo_field_blur(36)" tabindex="37"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_37" data-index="37" data-x="4" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(37)" onblur="sudo_field_blur(37)" tabindex="38"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">5</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_38" data-index="38" data-x="4" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(38)" onblur="sudo_field_blur(38)" tabindex="39"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_39" data-index="39" data-x="4" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(39)" onblur="sudo_field_blur(39)" tabindex="40"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_40" data-index="40" data-x="4" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(40)" onblur="sudo_field_blur(40)" tabindex="41"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_41" data-index="41" data-x="4" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(41)" onblur="sudo_field_blur(41)" tabindex="42"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">7</div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_42" data-index="42" data-x="4" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(42)" onblur="sudo_field_blur(42)" tabindex="43"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">6</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_43" data-index="43" data-x="4" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(43)" onblur="sudo_field_blur(43)" tabindex="44"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">8</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_44" data-index="44" data-x="4" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(44)" onblur="sudo_field_blur(44)" tabindex="45"
                  onkeydown="onkey(event)"></div>
            </td>
         </tr>
         <tr>
            <td class="focusable ">
               <div id="sudo_input_45" data-index="45" data-x="5" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(45)" onblur="sudo_field_blur(45)" tabindex="46"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_46" data-index="46" data-x="5" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(46)" onblur="sudo_field_blur(46)" tabindex="47"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">4</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_47" data-index="47" data-x="5" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(47)" onblur="sudo_field_blur(47)" tabindex="48"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_48" data-index="48" data-x="5" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(48)" onblur="sudo_field_blur(48)" tabindex="49"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_49" data-index="49" data-x="5" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(49)" onblur="sudo_field_blur(49)" tabindex="50"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_50" data-index="50" data-x="5" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(50)" onblur="sudo_field_blur(50)" tabindex="51"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_51" data-index="51" data-x="5" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(51)" onblur="sudo_field_blur(51)" tabindex="52"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_52" data-index="52" data-x="5" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(52)" onblur="sudo_field_blur(52)" tabindex="53"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_53" data-index="53" data-x="5" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(53)" onblur="sudo_field_blur(53)" tabindex="54"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">5</div>
            </td>
         </tr>
         <tr>
            <td class="focusable hsep ">
               <div id="sudo_input_54" data-index="54" data-x="6" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(54)" onblur="sudo_field_blur(54)" tabindex="55"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">2</div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_55" data-index="55" data-x="6" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(55)" onblur="sudo_field_blur(55)" tabindex="56"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_56" data-index="56" data-x="6" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(56)" onblur="sudo_field_blur(56)" tabindex="57"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep vsep ">
               <div id="sudo_input_57" data-index="57" data-x="6" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(57)" onblur="sudo_field_blur(57)" tabindex="58"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_58" data-index="58" data-x="6" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(58)" onblur="sudo_field_blur(58)" tabindex="59"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">8</div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_59" data-index="59" data-x="6" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(59)" onblur="sudo_field_blur(59)" tabindex="60"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">3</div>
            </td>
            <td class="focusable hsep vsep ">
               <div id="sudo_input_60" data-index="60" data-x="6" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(60)" onblur="sudo_field_blur(60)" tabindex="61"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">4</div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_61" data-index="61" data-x="6" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(61)" onblur="sudo_field_blur(61)" tabindex="62"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable hsep ">
               <div id="sudo_input_62" data-index="62" data-x="6" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(62)" onblur="sudo_field_blur(62)" tabindex="63"
                  onkeydown="onkey(event)"></div>
            </td>
         </tr>
         <tr>
            <td class="focusable ">
               <div id="sudo_input_63" data-index="63" data-x="7" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(63)" onblur="sudo_field_blur(63)" tabindex="64"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">5</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_64" data-index="64" data-x="7" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(64)" onblur="sudo_field_blur(64)" tabindex="65"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">8</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_65" data-index="65" data-x="7" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(65)" onblur="sudo_field_blur(65)" tabindex="66"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_66" data-index="66" data-x="7" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(66)" onblur="sudo_field_blur(66)" tabindex="67"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">4</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_67" data-index="67" data-x="7" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(67)" onblur="sudo_field_blur(67)" tabindex="68"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">7</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_68" data-index="68" data-x="7" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(68)" onblur="sudo_field_blur(68)" tabindex="69"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_69" data-index="69" data-x="7" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(69)" onblur="sudo_field_blur(69)" tabindex="70"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">2</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_70" data-index="70" data-x="7" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(70)" onblur="sudo_field_blur(70)" tabindex="71"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_71" data-index="71" data-x="7" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(71)" onblur="sudo_field_blur(71)" tabindex="72"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">3</div>
            </td>
         </tr>
         <tr>
            <td class="focusable ">
               <div id="sudo_input_72" data-index="72" data-x="8" data-y="0" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(72)" onblur="sudo_field_blur(72)" tabindex="73"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_73" data-index="73" data-x="8" data-y="1" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(73)" onblur="sudo_field_blur(73)" tabindex="74"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_74" data-index="74" data-x="8" data-y="2" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(74)" onblur="sudo_field_blur(74)" tabindex="75"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_75" data-index="75" data-x="8" data-y="3" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(75)" onblur="sudo_field_blur(75)" tabindex="76"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">6</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_76" data-index="76" data-x="8" data-y="4" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(76)" onblur="sudo_field_blur(76)" tabindex="77"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_77" data-index="77" data-x="8" data-y="5" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(77)" onblur="sudo_field_blur(77)" tabindex="78"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable vsep ">
               <div id="sudo_input_78" data-index="78" data-x="8" data-y="6" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(78)" onblur="sudo_field_blur(78)" tabindex="79"
                  onkeydown="onkey(event)"></div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_79" data-index="79" data-x="8" data-y="7" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(79)" onblur="sudo_field_blur(79)" tabindex="80"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">1</div>
            </td>
            <td class="focusable ">
               <div id="sudo_input_80" data-index="80" data-x="8" data-y="8" class="sudo_field sudo_input_field"
                  onclick="sudo_field_hightlight(80)" onblur="sudo_field_blur(80)" tabindex="81"
                  onkeydown="onkey(event)" style="color: rgb(0, 0, 0);">7</div>
            </td>
         </tr>
      </tbody>
   </table>
</div>