<div class="sudo-aside__group">
   <h2>¿Eres nuevo?</h2>
   <ul>
     <!-- <li>Tips</li> -->
     <li><a href="/tips">Tips</a></li>
     <li><a href="/tutoriales">Tutoriales</a></li>
   </ul>
 </div>

 <div class="sudo-aside__group">
   <h2>Niveles</h2>
   <ul>
     <!-- <li>Fácil</li>
     <li>Medio</li>
     <li>Dificil</li> -->
     <li>
        <button class="button button--bubble js-button-lvl" data-level="easy">Easy</button>
     </li>
     <li>
        <button class="button button--bubble js-button-lvl" data-level="medium">Medium</button>
     </li>
     <li>
        <button class="button button--bubble js-button-lvl" data-level="hard">Hard</button>
     </li>

 </div>

 <div class="sudo-aside__group">
   <h2>Retos semanal</h2>
   <ul>
     <li>Fácil</li>
     <li>Medio</li>
     <li>Dificil</li>
   </ul>
 </div>