<div class="sudo-aside__group">
  <h2>¿Eres nuevo?</h2>
  <ul>
    <li><a href="/tips">Tips</a></li>
    <li><a href="/tutoriales">Tutoriales</a></li>
  </ul>
</div>

<div class="sudo-aside__group js-levels">
  <h2>Niveles</h2>
  <ul>
    <li>
      <button class="sudo-button sudo-button--bubble js-button-lvl" data-level="easy">Fácil</button>
    </li>
    <li>
      <button class="sudo-button sudo-button--bubble js-button-lvl" data-level="medium">Medio</button>
    </li>
    <li>
      <button class="sudo-button sudo-button--bubble js-button-lvl" data-level="hard">Dificil</button>
    </li>

</div>

<div class="sudo-aside__group sudo-aside__group--disabled js-weekly-challenge">
  <h2>Retos semanal</h2>
  <ul>
    <li> <button class="sudo-button sudo-button--bubble js-button-lvl" data-level="easy">Fácil</button></li>
    <li> <button class="sudo-button sudo-button--bubble js-button-lvl" data-level="medium">Medio</button></li>
    <li> <button class="sudo-button sudo-button--bubble js-button-lvl" data-level="hard">Dificil</button></li>
  </ul>
</div>