<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sudokle - Tips</title>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet"> -->
  <link href="css/output/main.css" rel="stylesheet" type="text/css">

  <script src="js/script.js" type="module" defer></script>

</head>

<body>
  <div class="sudo-grid-container">

    <header class="sudo-header"></header>

    <div class="sudo-container">
      <div class="sudo-middle">

        <main>
          <div class="sudo-tips">
            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Empieza con un Sudoku fácil:</h2>
              <p class="sudo-tip__text"> para comenzar a practicar, elige un Sudoku con nivel de dificultad bajo.
                Esto te permitirá familiarizarte
                con las reglas del juego y practicar la lógica que necesitas para resolver el puzzle.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Busca números fáciles de encontrar:</h2>
              <p class="sudo-tip__text">comienza por buscar los números que aparecen con mayor frecuencia en el
                tablero. Generalmente, los números
                del 1 al 9 aparecen al menos una vez en cada fila, columna y bloque.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Busca patrones en las filas, columnas y bloques:</h2>
              <p class="sudo-tip__text">en lugar de intentar llenar todo el tablero de una vez, enfócate en cada
                fila, columna y bloque
                individualmente. Busca patrones como números repetidos o faltantes.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Usa la técnica "sólo candidatos":</h2>
              <p class="sudo-tip__text"> esta técnica consiste en buscar los números que sólo pueden aparecer en
                una casilla particular de una
                fila,
                columna o bloque. Una vez que encuentres un número así, puedes llenarlo en la casilla.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Utiliza la técnica "sólo enlaces":</h2>
              <p class="sudo-tip__text">
                esta técnica consiste en buscar las casillas que tienen sólo dos candidatos, y que están enlazadas por
                una
                fila, columna o bloque. Si uno de los candidatos aparece en otra casilla de la misma fila, columna o
                bloque,
                entonces el otro candidato debe estar en la casilla en cuestión.

              </p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Rellena casillas con posibilidades limitadas:</h2>
              <p class="sudo-tip__text"> busca casillas donde sólo hay unos pocos candidatos, por ejemplo, una
                casilla donde sólo puede ir el
                número
                5. Una vez que encuentres una casilla así, llénala.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Anota los candidatos:</h2>
              <p class="sudo-tip__text">en algunos Sudokus más difíciles, es útil anotar los candidatos posibles
                para cada casilla. Esto te
                permitirá
                visualizar mejor las posibilidades en cada casilla.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Utiliza la técnica de "exclusión":</h2>
              <p class="sudo-tip__text"> esta técnica consiste en buscar un número que sólo puede ir en una casilla
                específica de un bloque, y
                luego
                eliminar ese número como una posibilidad en las casillas restantes del bloque.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">Busca pares y triples:</h2>
              <p class="sudo-tip__text"> busca parejas o tríos de números que sólo puedan ir en dos o tres casillas
                específicas. Una vez que
                encuentres un par o triple, elimina esos números como posibilidades en otras casillas del mismo bloque,
                fila
                o
                columna.</p>
            </div>

            <div class="sudo-tip">
              <h2 class="sudo-tip__title">No te rindas:</h2>
              <p class="sudo-tip__text">resolver Sudokus puede ser desafiante, pero no te rindas. Con práctica y
                perseverancia, podrás mejorar tus
                habilidades y resolver Sudokus más difíciles con mayor facilidad.</p>
            </div>
          </div>
        </main>
      </div>
    </div>

    <footer class="sudo-footer"></footer>
  </div>
</body>

</html>