<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sudokle - Tutoriales</title>
  
  <link href="css/output/main.css" rel="stylesheet" type="text/css">
  <script src="js/script.js" type="module" defer></script>
</head>

<body>
  <div class="sudo-grid-container">

    <header class="sudo-header"></header>

    <div class="sudo-container">
      <div class="sudo-middle">

        <main>
          <div class="sudo-tutoriales">
            <h1>Tutoriales</h1>

          </div>
        </main>

      </div>
    </div>

    <footer class="sudo-footer"></footer>
  </div>
</body>

</html>