* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: monospace;
	font-size: 72px;
	background: -webkit-linear-gradient(
		52deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container {
	display: grid;

	grid-template-areas:
		"header header header"
		"nav content side"
		"footer footer footer";

	grid-template-columns: 200px 1fr 200px;
	grid-template-rows: auto 1fr auto;
	grid-gap: 10px;

	height: 100vh;
}

header {
	grid-area: header;
   background-color: antiquewhite;
   padding: 20px;

	display:  flex;
	gap: 20px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header img {
	width: 70px;
}

nav {
   padding: 20px;
   grid-area: nav;
	margin-left: 0.5rem;
   background-color: rgb(224, 193, 155);
}

ul {
   list-style: none;
}

main {
   padding: 20px;
   padding: 20px;
   grid-area: content;
   background-color: bisque;
}

aside {
   padding: 20px;
	grid-area: side;
	margin-right: 0.5rem;
   background-color: rgb(187, 187, 187);
}

footer {
   padding: 20px;
	grid-area: footer;
   background-color: antiquewhite;
}

@media (max-width: 768px) {
	.container {
		grid-template-areas:
			"header"
			"nav"
			"content"
			"side"
			"footer";

		grid-template-columns: 1fr;
		grid-template-rows:
			auto /* Header */
			minmax(75px, auto) /* Nav */
			1fr /* Content */
			minmax(75px, auto) /* Sidebar */
			auto; /* Footer */
	}

	nav,
	aside {
		margin: 0;
	}
}

table {
	border-collapse: collapse;
	font-family: Calibri, sans-serif;
}

colgroup,
tbody {
	border: solid medium;
}

td {
	border: solid thin;
	height: 1.4em;
	width: 1.4em;
	text-align: center;
	padding: 0;
}
