.sudo-keyboard {
  // background-color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 15px 0;

  &__key {
    background-color: #eaeef4;
    background-color: @main-color-light;

    color: #0072e3;
    color: @gray-6c;

    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: #b5becc;
      background-color: @main-color;
      color: #fff;
    }
  }
}