@import './_variables.less';
@import './_mixins.less';

.sudo-middle {
	padding: 20px;

	&--grid {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(3, minmax(260px, 1fr));
		padding: 20px;
		gap: 25px 50px
	}
}

.sudo-aside {
	display: inline-block;
	.color-box();
}

.sudo-aside {
	// width: 20%;
	// min-width: 260px;

	&__group {
		&:not(:last-child) {
			margin-bottom: 40px;
		}

		h2 {
			.sudo-h2();
		}
		
		ul {
			li {
				.sudo-p();
				margin-bottom: 12px;
			}
		}

		&--disabled {
			opacity: 0.5;
		}
	}
}

.user-info {
	display: none;

	&--show {
		display: block;
	}

	.username {
		color: @accent-color;
	}

	.userpoints {
		.sudo-p();
	}
}

.sudo-ranking {
   &__user {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
	}

   &__posicion {
		padding: 7px;
		border-radius: @radius;
		background-color: @accent-color;
		color: @gray-6c;
		color: white;
		font-weight: bold;
		width: 22px;
		height: 22px;
		line-height: 10px;
	}
	
   &__nombre {
		color: @gray-6c;
	}

   &__puntos {
		color: @main-color;
	}
}