@main-color: #3ea8b6;
@main-color-dark: #24808c;
@main-color-light: #d9f6fa;
@accent-color: #e4b50b;
@gray:#E2E8E9;
@gray-6c: #6C6C6C;

@bp-xs: 0px;
@bp-sm: 576px;
@bp-md: 768px;
@bp-lg: 992px;
@bp-xl: 1200px;
@bp-xxl: 1400px;